autograd==1.7.0
contrastive==1.2.0
hdbscan==0.8.39
matplotlib==3.8.3
numpy
numpy_indexed==0.3.7
pandas==2.2.3
Pillow==11.0.0
pymanopt==2.2.1
pyreadr==0.5.2
scikit_learn==1.5.2
scipy==1.14.1
torchvision==0.17.1
